/*
* ANALYSIS
*/

.ana {
    margin: 5rem;
    margin-top: 0.5rem;
    flex: 1 0 auto;
}

.ana-land {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 200px;
    gap: 1em 1em;
}

.ana-land h1 {
    grid-column: 1 / 4;
    justify-self: center;
}


.analysis {
    position: relative;
    padding: 1rem;
    background-color: $main-background;
    border: 2px dashed $font-color;
    border-radius: 255px 15px 255px 15px/15px 255px 15px 255px;
    text-align: center;
}

.anaicon {
    font-size: 3rem;
}

.kmom04 {
    transform: rotate(2deg);
    grid-column: 1 / 2;
    position: relative;
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.14);
}

.kmom05 {
    grid-column: 2 / 3;
    position: relative;
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.14);
}

.kmom06 {
    transform: rotate(-5deg);
    grid-column: 3 / 4;
    position: relative;
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.14);
}

.kmom10 {
    grid-column: 1 / 2;
    position: relative;
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.14);
}

.kmom11 {
    grid-column: 2 / 3;
    position: relative;
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.14);
}

.linkspanner04 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.linkspanner05 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.linkspanner06 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/*
* KMOM
*/

.kmom2 {
    // margin: 4rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 70% auto;
    gap: 1em;
    flex: 1 0 auto;
}

.kmom p {
    padding-bottom: 1rem;
}

.kmom {
    background-color: $main-background;
    border: 2px dashed $font-color;
    border-radius: 155px 15px 155px 15px/15px 155px 15px 155px;
    margin: 2rem 2rem auto;
    padding: 0 2rem;
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.14);
}

.colors {
    border: 10px solid #fff;
    border-collapse: collapse;

    td {
        width: 100px;
        height: 100px;
        border: 5px solid #fff;
    }
}

.cella1 {
    background-color: #003323;
}

.cella2 {
    background-color: #427e65;
}

.cella3 {
    background-color: #007c88;
}

.cella4 {
    background-color: #ec6608;
}

.cellb1 {
    background-color: #1c355d;
}

.cellb2 {
    background-color: #b11c01;
}

.cellb3 {
    background-color: #163824;
}

.cellc1 {
    background-color: #358ecd;
}

.cellc2 {
    background-color: #073c64;
}

.cellc3 {
    background-color: #abbebe;
}

.cellc4 {
    background-color: #c00c0e;
}

/*
* NAV KMOM
*/

.kmom-nav {
    padding-top: 3rem;
}

.kmom-nav ul {
    list-style-type: none;
}

.kmom-nav li a {
    display: block;
    text-decoration: none;
    padding: 0.7rem;
    font-family: $font-header;
    color: $accent-alternative-color;
    font-size: 2rem;
}

.kmom-nav li a:hover {
    color: $side-nav-hover-font;
    background-color: $side-nav-hover-back;
}

/*
* LOAD
*/

// .resultsheet {
//     // width: 800px;
//     max-width: 98%;
//     height: 500px;
//     padding-bottom: 1em;
// }

.loadtable {
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;

    th {
        font-weight: bold;
    }

    td {
        border: 10px solid $main-background;
    }
}

.colorclass {
    padding-top: 2em;
    max-width: 100%;
}

.framesheet {
    position: relative;
    padding-bottom: 500px;
    height: 0;
    overflow: hidden;
    max-width: 98%;
    // height: 500px;
}

// .resultsheet {
//     max-width: 100%;
//     height: 500px;
//     // margin-top: 2rem;
// }


.resultsheet {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.framesheet2 {
    position: relative;
    padding-bottom: 350px;
    height: 0;
    overflow: hidden;
    max-width: 98%;
    margin-bottom: 1rem;
}

.kmom li {
    margin-left: 2rem;
}

.kmom ul {
    padding-bottom: 1rem;
}
