/*
* FOOTER CSS
*/
.footer {
    vertical-align: middle;
    background-color: $footer-background;
    height: 100px;
    padding: 15px;
    color: $footer-font-color;

    .social {
        font-size: 3.3rem;
        text-align: center;
    }

    .social a {
        text-decoration: none;
        color: $footer-font-color;
    }
    
    .foottext {
        text-align: center;
    }
}

