/*
* HEADER CSS
*/

/* Title */

@media (max-width: 767px) {
    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }

    .header {
        padding: 2em 1em 1em;
    }
}

.title {
    padding-left: 20px;

    p {
        font-style: italic;
    }
}


/* Header */

// .header,
.site-header {
    display: flex;
    justify-content: left;
}

.header {
    background-color: $header-background;
    padding: 2em 2em 1em 3em;
    color: $font-color;
    border-bottom: 2px dashed $font-color;
    border-radius: 0 15px 2px 105px/0 0 255px 2px;
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.14);

    a {
        text-decoration: none;
        color: $header-font-color;
    }
    
    a:hover {
        color: $hover-font;
        background-color: $header-background;
    }
}

.nav {
    font-size: 1.5rem;
    font-family: $font-header;
    display: inline-block;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    text-align: center;
}

.nav li {
    display: inline;
    padding: 1em;
}


.logo img {
    max-width: 100px;
    opacity: 60%;
}
