/*
* HEADER CSS
*/

/* Title */

@media (max-width: 767px) {
    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }

    .header {
        padding: 2em 1em 1em;
    }
}

.title {
    padding-left: 20px;

    p {
        font-style: italic;
    }
}


/* Header */

// .header,
.site-header {
    display: flex;
    justify-content: left;
}

.header {
    background-color: $accent-color;
    padding: 2em 2em 1em 3em;

    a {
        text-decoration: none;
    }
    a:hover {
        color: $font-alternative-color;
    }
}

.nav {
    font-size: 1.5rem;
    font-family: $font-header;
    display: inline-block;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    text-align: center;
}

.nav li {
    display: inline;
}


.logo img {
    max-width: 100px;
    opacity: 60%;
}
