$font-color: #444;
$font-alternative-color: rgb(255, 149, 0);
$accent-color: rgb(183, 224, 238);
$accent-alternative-color: rgb(232, 231, 231);
$background-color: #fff;
$background-alternative-color: #e0fbfc;
$font-header: 'Architects Daughter', sans-serif;
$font-body: sans-serif;
