$color-one: #45888c;
$color-two: #7e9e9f;
$color-three: #6ad3d9;
$color-four: #abd6d9;
$color-five: #2c5759;



$font-color: #fff;
$font-alternative-color: #abd6d9;
$font-for-code: #444;

$accent-color: #abd6d9;
$accent-alternative-color: #45888c;
$accent-alternative-color2: #7e9e9f;
$accent-alternative-color3: #2c5759;

$header-font-color: #87b0b1;
$footer-font-color: #7e9e9f;
$header-background: #235153;
$footer-background: #2f2f2f;
$main-background: #444;
$hover-font: #6ad3d9;
$filter-image: grayscale(50%);

$side-nav-hover-font: #fff;
$side-nav-hover-back: #45888c;

$background-color: #2f2f2f;
$background-alternative-color: rgb(225, 228, 228);
$font-header: 'Architects Daughter', sans-serif;
$font-body: sans-serif;
