/* @import "lek.css"; */


* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    color: #444;;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.main {
    flex: 1 0 auto;
    width: 80%;
    margin: 20px auto;
}

.header, .footer {
    flex: 0 0 auto;
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: lightblue;
    padding: 2em 2em 1em 3em;
}

.nav {
    font-weight: bold;
    font-size: larger;
}

.header a {
    text-decoration: none;
}


.logo img {
    max-width: 100px;
    opacity: 60%;
}


/* Title */



@media (max-width: 767px) {
/*     .title, .logo {
        padding: 1em 1em 1em 0;
    } */
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
    .header {
        padding: 2em 1em 1em 1em;
    }
}

.title {
    padding-left: 20px;
}


.title p {
    font-style: italic;
}

/* Footer */

.footer {
    /* display: flex;
    /* justify-content: space-between; */
    /* flex: 0 0 auto; */ 
    vertical-align: middle;
    border-top: 1px solid rgb(232, 231, 231);
    background-color: rgb(232, 231, 231);
    height: 100px;
    padding: 15px;
}


.footer .social {
    font-size: 3rem;
    text-align: center;
}

.footer .social a {
    text-decoration: none;
}

.foottext {
    text-align: center;
}

/* Typografy */

body {
    font-family: sans-serif;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.5rem;
}

.main p {
    padding-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.3em;
    font-weight: bold;
}

img {
    max-width: 100%;
}

/* BELOW ARE PREPARED STYLES FOR CODE/PRE/BLOCKQUOTE, FEEL FREE TO REMOVE IT  */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}


